.signup {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup h1 {
  font-size: 100px;
}

.signup form {
  display: flex;
  flex-direction: column;
}
.signup form button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  background: #fff;
}

.signup form button:hover {
  color: #fff;
  background: #000;
  transition: 0.3s linear;
}

.signup form input:not([type="submit"]) {
  font-size: 20px;
  margin-bottom: 14px;
  padding: 10px;
}
